# --- Pastas Geradas pela Unity (Obrigatório ignorar) ---
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# --- Arquivos de Memória e Travamento ---
/[Mm]emoryCaptures/
/[Rr]ecordings/

# --- Arquivos Autogerados do Visual Studio / IDEs ---
# A Unity regenera esses arquivos sempre que você clica em "Open C# Project"
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# --- Pastas específicas de IDEs (VS Code, Rider, etc) ---
.vs/
.vscode/
.idea/

# --- Lixo de Sistema Operacional ---
.DS_Store
Thumbs.db
Desktop.ini

# --- Builds e Executáveis ---
# Ignora qualquer arquivo executável solto na raiz ou pastas de build
*.apk
*.aab
*.unitypackage
*.exe

# --- Crash Reports ---
sysinfo.txt
crash_report.xml
